# The registry the client resolves from, declared here rather than left to whatever a machine
# configured, for the reason `NuGet.config` clears its inherited source list: a registry set on a
# developer's machine must not be able to supply a dependency `THIRD_PARTY_LICENSES.md` never
# reviewed. ADR 0021 is where that is decided.
registry=https://registry.npmjs.org/
